<div class="row">

<div class="col-md-6">
    <div class="box">
        <div class="box-header">
          <h3 class="box-title">我的资料</h3>
        </div>
        <!-- /.box-header -->
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <table class="table table-striped">
            <tbody>

            <tr>
              <td>编号</td>
              <td>{$info['user_id']}</td>
            </tr> 
         <!--    <tr>
              <td>等级</td>
              <td>{$info['u_level']}</td>
            </tr> -->
          <!--   <tr>
              <td>左区</td>
              <td>{$info['zone_a']}</a></td>
            </tr> -->
            <!-- <tr>
              <td>B区</td>
              <td>{$info['zone_b']}</td>
            </tr> -->
           <!--  <tr>
              <td>右区</td>
              <td>{$info['zone_c']}</td>
            </tr> -->
          <!--  <tr>
              <td>奖金币钱包</td>
              <td>{$info['b0']}</td>
            </tr> -->

           <!--   <tr>
              <td>积分钱包</td>
              <td>{$info['b1']}</td>
            </tr> -->
          </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <!-- /.box-body -->
      </div>
          <!-- /.box -->

          <!-- /.box -->
    </div>




       
      </div>
</div>
  
  </div>