<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>会员注册</title>
      <link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.min.css"/>
      <link rel="stylesheet" type="text/css" href="__STATIC__/css/own.css"/>
      <link rel="stylesheet" type="text/css" href="__STATIC__/css/iconfont.css"/>
      <style type="text/css">
        /*下面两项是重置muicss的输入框label和input之间的宽比率*/
        .mui-input-row label {
          width: 30%;
        }
        .mui-input-row label~input {
          width: 70%;
        }
        #smsbtn{
          position:absolute;right:0;margin-top:10px;margin-right:8px;
        }
        .mui-bar-nav~.mui-content{ padding-top: 0;}
      </style>
  </head>
  <body>
    <header class="mui-bar mui-bar-nav own-main-background-color" style=" height: 50px;">
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="line-height: 30px; color: #333; text-decoration: none;"></a>
      <h1 class="mui-title" style="line-height: 50px;">注册</h1>
    </header>
  <div class="mui-content">
    <div class="mui-card" style="margin-top: 30px;">

        <form id="tf" name="form" method="post" action="{:url()}" role="form" class="mui-input-group">
        <div class="mui-input-row" style="border-top: 1px solid #ddd;">
          <label>用户名</label>
        <input class="form-control" name="username" value="{$rand}" placeholder="请输入用户名" type="text">
        </div>
        <div class="mui-input-row">
          <label>登录密码</label>
          <input class="form-control" name="password" placeholder="请输入密码" type="password">
        </div>
        <div class="mui-input-row">
          <label>确认密码</label>
           <input class="form-control" name="password_confirm" placeholder="请输入确认密码" type="password">
        </div>
        <div class="mui-input-row">
          <label>安全密码</label>
         <input class="form-control" name="password2" placeholder="请输入密码" type="password">
        </div>
        <div class="mui-input-row" style="display:none;">
          <label>姓名</label>
          <input class="mui-input-clear" type="text" placeholder="请输入真实姓名" name="nickname" id="nickname" />
        </div>
        <div class="mui-input-row" style="display:none;">
          <label>身份证</label>
          <input class="mui-input-clear" type="text" placeholder="请输入身份证号码" name="idcard" id="idcard" />
        </div>
        <div class="mui-input-row">
          <label>报单中心</label>
          <input class="form-control" value="{$agent_uid}" name="agent_uid" placeholder="请输入编号" type="text">
        </div>
        <div class="mui-input-row">
          <label>推荐人</label>
          <input class="form-control" value="{$re_uid}" name="re_uid" placeholder="请输入编号" type="text">
        </div>
        <div class="mui-input-row">
          <label>接点人</label>
           <input class="form-control" value="{$father_uid}" name="father_uid" placeholder="请输入编号" type="text">
        </div>
        <div class="mui-input-row">
          <label>注册的区域</label>
           <select class="form-control" name="TPL" id="TPL">
              <option class="form-control" value="0" {$TPL[0]}> 左区 </option>
           <!--    <option class="form-control" value="1" {$TPL[1]}> B区 </option> -->
             <option class="form-control" value="2" {$TPL[2]}>右区  </option>
            </select>
        </div>
          <div class="mui-input-row">
          <label>注册金额</label>
          <select  class="form-control"  name='cpzj'>
                {volist name='cpzj' id='vo'}
              <option class="form-control" value="{$vo}" >{$vo}</option>
               {/volist} 
              </select>
        </div>
      <!--   <div class="mui-input-row">
          <label>手机号码</label>
        <input class="form-control" name="mobile" placeholder="请输入手机号码" type="text">
        </div>
        <div class="mui-input-row">
          <label>验证码</label>
          <input type="text" placeholder="请输入验证码" name="yzm" id="yzm" />
          <a id="smsbtn">获取验证码</a>
        </div>
     -->
    </div>
    <div class="mui-button-row" style="margin: 10px 15px;">
      <button  type="button" id="btn" class="mui-btn mui-btn-block own-btn-green" style="padding: 5px 0px;" onclick="test();">注册</button>
      
    </div>
  </div>
      </form>
 
<script type="text/javascript" src="__STATIC__/js/mui.min.js"></script>

    <script type="text/javascript" charset="UTF-8">
   function test(){
            var form = new FormData(document.getElementById("tf"));
            $.ajax({
                url:"{:url('messagesAdd')}",
                type:"post",
                data:form,
                processData:false,
                contentType:false,
                dataType: "json",//预期服务器返回的类型
                success:function(data){
                   layer.open({
                      content: data.msg
                      ,skin: 'msg'
                      ,time: 2 //2秒后自动关闭
                    });
                },
                error:function(e){
                   layer.open({
                      content: '网络错误'
                      ,skin: 'msg'
                      ,time: 2 //2秒后自动关闭
                    });
                }
            });        
             }
  </script>