<header class="jumbotron subhead article_details_header" id="overview">
    <div class="container">
            <h2>{$article_info['name']}</h2>
            <p>
                <span  class="pull-left">
                    <span> 发布时间：{$article_info['create_time']}</span>
                </span>
            </p>
    </div>
</header>

<div id="main-container" class="container">
    <div class="row">
        
        

        <div class="span9">
            <div>
                <section>
                    <div class="container">
                        <p>
                            {$article_info['content']}
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>