<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>编辑收货地址</title>
<include file="public/header" />
</head>
<body>

<style>
th,td{
    text-align: left;
}
p{
  width: 100%;
  text-align: right;
  padding-right: 16px;
  margin-bottom: 0;
}
</style>
<div class="container">
    <div class="row" style="background:#fff;">
    <div class="col-lg-12 tab_title">
       <h1>编辑收货地址 &nbsp;&nbsp;[<a style="color: #DBEF3C;" href="{:url('Shop/address_list')}">返回列表</a>]</h1>
    </div>
    
    <div class="col-lg-12">

     <form method='post' id="form1" name="form1" action="{:url('Shop/address_edit')}">
<table style="width:100%;margin-top:10px;">
    <tr>
        <td>
			地址：<br/>
        	<input  name="address" type="text" style="width:100%;" value="{$address.address}"></td>
    </tr>
    <tr>
        <td>
      联系人：<br/>
          <input  name="name" type="text" style="width:100%;" value="{$address.name}"></td>
    </tr>
    <tr>
        <td>
      联系电话：<br/>
          <input  name="mobile" type="text" style="width:100%;" value="{$address.mobile}"></td>
    </tr>
    <tr>
        <td class="center" style="padding:20px;">
        <input name="id" type="hidden" value="{$address.id}">
        <input type="submit" value="保存" class="button_text">
        <input type="button" name="button2" id="button2" value="返回" class="button_text" onclick="location.href='{:url('Shop/address_list')}'"/>
        </td>
    </tr>
    <tr>
    <td colspan="2" style="height:10px"></td>
    </tr>
</table>
</form>
    </div>

</div>
</div>
</body>
</html>