

 <link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/own.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/iconfont.css"/>

<style>
.table {
    width: 100%;
}
.item2{ width: 250px;  float: left;  margin-top:20px; margin-right: 31px; border: 1px solid #ddd; box-sizing: border-box; padding-bottom: 10px; transition:0.3s all; -webkit-transition:0.3s all; -moz-transition:0.3s all; -ms-transition:0.3s all;}
.item2 img{ width: 100%; height: 250px; display: block;}
.item2 p{ padding:2px 5px;  color: #222; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.item2 span{ color: #44aef6; }
.item2:hover{ border-color:red; background-color: #f1f1f1;}
select{ border: 1px solid #ddd !important; padding:6px 10px; }

@media( max-width: 414px){

}


</style>
   <style type="text/css">
        .mui-active .mui-icon,.mui-active .mui-tab-label {
            color: #7FBF26;
        }

            .mui-table-view:after {
                height: 0px;
            }
            /*图片显示的时候设置为自动 因为 从服务器来的图片大小相同*/
            .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object {
                line-height: auto;
                max-width: auto;
                height: auto;
                /*border-top-right-radius: 4px;
                border-top-left-radius: 4px;*/
            }

            .mui-table-view-cell {
                margin-bottom: 0px;
            }

            .bgDiv {
                /*border: 1px solid rgba(204, 204, 204, 0.7);*/
                /*border-radius: 5px;*/
                background-color: white;
                width: 100%;
            }

            .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
                margin-top: 2px;
                margin-bottom: 5px;
                height: auto;
                padding:0 3px;
            }

            .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body p {
                white-space: pre;
                color: black;
            }

            .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body p.mui-ellipsis-2 {
                line-height: 1.2;
                margin-left: 3%;
                text-align: left;
                max-height: 35px;
            }

            .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body .price-one {
                margin-top: 5px;
                float: left;
                font-size: 1em;
                margin-left: 3%;
                color: red;
                margin-bottom: 10px;
            }
            .own-title{
                border-left: 5px solid #7ebf25;
                color: #7ebf25;
                line-height: 1em;
                margin-bottom: 10px;
                margin-top: 10px;
                padding-left: 10px;
            }
            .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body .price-two {
                margin-top: 12px;
                float: right;
                font-size: 1.1em;
                margin-right: 7%;
                text-decoration: line-through;
            }
            .own-home-pro dl{
                overflow: hidden;
            }
            .own-home-pro dl dt, .own-home-pro dl dd {
                box-sizing: border-box;
                display: block;
                float: left;
                overflow: hidden;
                width: 50%;
                margin:0;
                border-top: 1px solid #eee;
            }
            .own-home-pro dl a {
                display: block;
                height: 100%;
                width: 100%;
            }
            .own-home-pro dl img {
                height: auto;
                width: 100%;
            }
            .own-home-pro dl dd {
                border-left: 1px solid #eee;
            }


            .area{
                padding:15px 10px 0 10px;
                height: 45px;
            }
            .area span{
                color: #fff;
                background-color: #9BCB5A;
                border: 1px solid #9BCB5A;
                text-align: center;
                padding: 3px 20px;
                border-radius: 15px;
                font-size: 15px;
            }
            .area a{
                text-align: center;
            }
            .mui-table-view::before{
                background-color: #F8F8F8;
            }


            .foot {
            background-color:#fff;
            color:#999;
            clear:both;
            text-align:center;
            padding:2%;
            line-height: 1.8;
            margin-top: 3%;
            font-size: 14px;
            }
            @media(max-width: 767px){
                 #main-container{ margin: 0 -20px; }
                  body > .navbar{ margin-bottom: 0; }
                  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ padding: 0; }
            }
        ul{ margin: 0; }
       .admin-list-img-size{max-height:173px; width: 100%; }
       .main-footer{ display: none; }
       h1{ font-size: 16px; }
    </style>
<div id="main" style="height:600px;">
    <div class="row" style="background:#fff;margin-top:15px;">
        <div class="col-lg-12 tab_title">
            <h1>商城购物</h1>
        </div>
        <div class="col-lg-12 writting">
            <table class="table tables">
                <tr>
                    <td>
                        <form id="form1" name="form1" method="post" action="{:url('Shop/index')}">
                            <span class="us_btn">商品分类：</span>
                            <select name="category_id" style="width:160px;">
                                <option value="0">全部分类</option>
                                {volist name="category" id="vo"}
                                    <option value="{$vo.id}" >{$vo.name}</option>
                                {/volist}
                            </select>
                            <input type="text" name="word" title="关键词" value="{$Request.param.word}" style="width: 15%; min-width: 100px;  padding:6px;">&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="submit" name="Submit" value="查询" class="btn1" style="padding:6px;background:#44aef6;color: #fff;" />
                            <a href="{:url('Shop/order_list')}" class="btn1" style="padding:6px;background:#44aef6;color: #fff; float: right;">我的订单</a>
                        </form>
                    </td>
                </tr>
            </table>
          <!--   {volist name="list" id="vo"}
                <a href="{:url('Shop/show', ['id' => $vo->id])}" class="item2">
                    <img class="admin-list-img-size" src="{$vo.cover_id|get_picture_url}"/>
                    <p>{$vo.name}</p>
                    <span class="price">￥{$vo.price}</span>
                </a>
           {/volist} -->
            <ul id="recommend" class="mui-table-view mui-grid-view own-gray-color">
                    {volist name="list" id="vo"}
                        <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="{:url('shop/show', ['id' => $vo->id])}">
                            <div class= "bgDiv">
                                 <img class="admin-list-img-size" src="{$vo.cover_id|get_picture_url}"/>
                                <div class="mui-media-body">
                                    <p class="mui-ellipsis-2">{$vo.name}</p>
                                    <p class="price-one">¥{$vo.price}</p>
                                </div>
                            </div>
                        </a></li>
                    {/volist}
                    </ul>
            <table class="table">
                <tr>
                    <td>{$list->render()}</td>
                </tr>
            </table>
        </div>
    </div>




</div>
