<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<base href="__STATIC__/epock/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="expires" content="0">
    <link href="css/tool/bootstrap.min.css" rel="stylesheet">
    <link href="css/static/slider.css" rel="stylesheet">
    <link href="css/static/index.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/help/html5shiv.min.js"></script>
    <![endif]-->
    <title>善策</title>
    <!-- <link href="img/favicon.ico" rel="shortcut icon"> -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://oac7trl2a.bkt.clouddn.com/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
		    <div class="container-fluid"> 
		    <div class="navbar-header">
		        <button type="button" class="navbar-toggle navbar-t" data-toggle="collapse"
		                data-target="#example-navbar-collapse">
		            <span class="sr-only">切换导航</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand navbar-img" href="{:url('index')}"><img src="img/logo@2x.png"/></a>
		    </div>
		    <div class="collapse navbar-collapse" id="example-navbar-collapse">
		        <ul class="nav navbar-nav navbar-right nav-top">
		            <li class="active"><a href="{:url('index')}">首页</a></li>
		            <li class="active"><a href="{:url('case_detail')}">案例</a></li>
		            <li class="active"><a href="{:url('service')}">服务</a></li>
		            <li class="active"><a href="{:url('about')}">关于</a></li>
		        </ul>
		    </div>
		    </div>
		</nav>
    <div class="aboutindexTop ">
        <img class="hidden-xs"  src="img/案例banner@2x.jpg">
        <img class="hidden-lg" src="img/案例banner@3x.jpg">
    </div>
   <div class="nav case-nav">
   	<a class="btn btn-default case-nav-btn" href="{:url()}" >全部</a>
   	{volist name="category" id="vo"}
      	<a class="btn btn-default case-nav-btn" href="{:url('case_detail', ['category_id'=>$vo[id]])}" value="{$vo.id}" role="button">{$vo.name}</a>  
    {/volist}
   </div>
	<div class="content">
		<div class="content-imgs" style="   overflow: hidden;">
			  
			  {volist name="list" id="v"}
			  <div class="content-img content-img-l">
			  	<div class=" indeximg animationj" id="0"><a href="{:url('details', ['id' => $v->id])}"><img src="{$v.cover_id|get_picture_url}" ></a></div>
			  	<h5>{$v.name}</h5>
			  </div>
			 {/volist}
		  </div>
    </div >
    <div style="text-align:center;">
	{$list->render()}
		</div>

    <div class="footer">
    	<div class="row row-footer">
		  <div class="col-xs-12 col-md-6 footer-top">
		  	<p class="text-left text-hearder"><img src="img/底部logo@3x.png"></p>
			<p class="text-left text-footercon">提交您的请求，我们会在24小时内回复您</p>
		  </div>
		  <div class="col-xs-12 col-md-2 footer-top">
		  	<p class="text-left text-foothearder">善策数字化咨询</p>
			<p class="text-left text-footercon">7892-825183458</p>
		  </div>
		  <div class="col-xs-12 col-md-2 footer-top">
		  	<p class="text-left text-foothearder">服务邮箱</p>
			<p class="text-left text-footercon">gleichner@hotmail.com</p>
		  </div>
		</div>
    </div>
    <div class="error">手机号码不正确</div>
   <script src="__STATIC__/epock/js/tool/sea.js"></script>
    <script>
        seajs.config({
            base:  "__STATIC__/epock/js/",
            alias: {
                "jquery": "tool/jquery.js",
                "json": "tool/json2.js",
                "drag": "tool/jquery.event.drag-1.5.min.js",
                "slider": "tool/jquery.touchSlider.js"
            },
            preload: [
                'jquery',
                this.JSON.stringify({
                    id: 1
                }) ? '' : 'json',
                "drag",
                "slider"
            ]
        });
        seajs.use('config/index');
        
    </script>
    </div>
</body>
</html>
