<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<!--<base href="http://www.juiceepoch.com/juice/epock/" />-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="expires" content="0">
    <link href="css/tool/bootstrap.min.css" rel="stylesheet">
    <link href="css/static/slider.css" rel="stylesheet">
    <link href="css/static/index.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/help/html5shiv.min.js"></script>
    <![endif]-->
    <title>Juice Epoch</title>
    <!-- <link href="img/favicon.ico" rel="shortcut icon"> -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://oac7trl2a.bkt.clouddn.com/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
	<div class="container">
		<div class="banner-head">
			<img src="img/logo@2x.png" />
		</div>
			<div class="banner-banner">
				<a href="index.html">
				<img src="img/导航-首页-选中@3x.jpg" />
				</a>
			</div>
			<div class="banner-banner">
				<a href="case.html">
				<img src="img/导航-案例-选中@3x.jpg" />
				</a>
			</div>
			<div class="banner-banner">
				<a href="service.html">
				<img src="img/导航-服务-选中@3x.jpg" />
				</a>
			</div>
			<div class="banner-banner">
				<a href="about.html">
				<img src="img/导航-关于-选中@3x.jpg" />
				</a>
			</div>
			
    </div>
</body>
</html>
