<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<!--<base href="http://www.juiceepoch.com/juice/epock/" />-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="expires" content="0">
    <link href="css/tool/bootstrap.min.css" rel="stylesheet">
    <link href="css/static/slider.css" rel="stylesheet">
    <link href="css/static/details.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/help/html5shiv.min.js"></script>
    <![endif]-->
    <title>Juice Epoch</title>
    <!-- <link href="img/favicon.ico" rel="shortcut icon"> -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://oac7trl2a.bkt.clouddn.com/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
		    <div class="container-fluid"> 
		    <div class="navbar-header">
		        <button type="button" class="navbar-toggle navbar-t" data-toggle="collapse"
		                data-target="#example-navbar-collapse">
		            <span class="sr-only">切换导航</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand navbar-img" href="#"><img src="img/logo@2x.png"</a>
		    </div>
		    <div class="collapse navbar-collapse" id="example-navbar-collapse">
		        <ul class="nav navbar-nav navbar-right nav-top">
		            <li class="active"><a href="index.html">首页</a></li>
		            <li class="active"><a href="case.html">案例</a></li>
		            <li class="active"><a href="service.html">服务</a></li>
		            <li class="active"><a href="about.html">关于</a></li>
		       		
		        </ul>
		    </div>
		    </div>
		</nav>
    <div class="aboutindexTop ">
        <img src="img/案例banner@2x.jpg">
    </div>
	<div class="details-content">
		<div class="row">
			  <div class="col-md-8">		  	
			  	<p class="details-content-p">Fasterfx 打造全球领先的金融互动社区</p>
			  </div>
			  <div class="col-md-4">
					<div class="nav case-nav">
					   	<a class="btn btn-default case-nav-btn" href="#" role="button">全部</a>
					   	<a class="btn btn-default case-nav-btn" href="#" role="button">产品0到1</a>
					   	<a class="btn btn-default case-nav-btn" href="#" role="button">数字化转型</a>
					   </div>
			  </div>
		</div>
		<div class="row">
			  <div class="col-md-8">		  	
			  	<p class="details-text-head">项目背景</p>
	    		<p class="details-text-det">2017年7月，快蚁社区网站Fasterfx 快蚁社区正式上线。Fasterfx 快蚁社区，善策不仅全程为其设计了外汇跟单社区商业模式、营销模式、PC端智能跟单系统、报本牛人交易系统、人工智能交易系统、直播系统和用户平台体验，还在商业策略和产品设计上为其制定了产品演进路线。最终实现外汇投资生态链的闭环，从而打造全球领先的外汇社区！</p>
			  </div>
			  <div class="col-md-4">				
			  </div>
		</div>
			<br /><br />
		<div class="row">
			  <div class="col-md-8">		  	
			  	<p class="details-text-head">最终收获</p>
	    		<p class="details-text-det">2017年7月，快蚁社区网站Fasterfx 快蚁社区正式上线。Fasterfx 快蚁社区，善策不仅全程为其设计了外汇跟单社区商业模式、营销模式、PC端智能跟单系统、报本牛人交易系统、人工智能交易系统、直播系统和用户平台体验，还在商业策略和产品设计上为其制定了产品演进路线。最终实现外汇投资生态链的闭环，从而打造全球领先的外汇社区！</p>
			  </div>
			  <div class="col-md-4">				
			  </div>
		</div>		
  </div>  
	<div class="detaila-img">
		<img src="img/案例详情-02@2x.jpg">
		<img src="img/案例详情-03@2x.jpg">
		<img src="img/案例详情-04@2x.jpg">
		<img src="img/案例详情-05@2x.jpg">
	</div>
	<div class="row details-cont">
			  <div class="col-md-8">		  	
	    		<p class="details-text-det">通过全方位的用户研究，设计团队发现外汇行业分为投资人、投资机构、代理商、经纪商四方群体的信任感和安全感的建立、服务个性化与服务升级、用户引导与教育以及产品细节处理上面临很多机遇和挑战。<br /><br />例如：投资人如何选择安全的经纪商，过高的收益反而会让他们觉得不安全。利用设计体现平台对安全的关注或进行实物化的保障等则可以提高用户对平台的信任感。<br /><br />面对经纪商较为综合的服务体系，以及会按照不同资产规模区分服务的压力，互联网理财产品应该尽快推出个性化服务。可以根据用户的投资偏好和风险承受能力推荐个性化的资产配比，也可以根据用户的投资行为、交易数据划分用户等级，提供不同的优惠与附加服务。<br /><br />分散投资型用户缺少有效的统一管理工具，需要第三方资产管理服务。那么引入第三方交易牛人资产数据，全面管理资产成为平台功能转变的一个机遇点。<br /><br />针对外汇投资交易的双边交易特殊性，双向交易都可以获得利润，设计团队设计出一键智能化跟单系统，正向返向、不同比例、不同倍数跟单方式，满足投资者选择适合的投资策略。<br /><br />在外汇投资行业，有一大部分群体投资策略和交易经验非常的丰富，但一般的投资者无法接触到。在设计上就出现的牛人这 个身份，只要交易者能够长期保持稳定的收益，他将会在平台获得更多的粉丝和跟随着，从而获得投资者跟随利润。<br /><br />Fasterfx 快蚁社区作为一个第三方服务平台，将对投资人、经纪商、交易牛人进行严格的审核才能入住平台，保障多方权益。<br /></p>
			  </div>
			  <div class="col-md-4">				
			  </div>
		</div>
		<div class="detaila-img">
		<img src="img/案例详情-06@2x.jpg">
		<img src="img/案例详情-07@2x.jpg">
		<img src="img/案例详情-08@2x.jpg">
		<img src="img/案例详情-09@2x.jpg">
		<img src="img/案例详情-10@2x.jpg">
	</div>
		<div class="details-content">
		<div class="row">
			  <div class="col-md-8">		  	
			  	<p class="details-text-head">Fasterfx 快蚁社区的产品设计，有哪些设计亮点？</p>
	    		<p class="details-text-det">2017年7月，快蚁社区网站Fasterfx 快蚁社区正式上线。Fasterfx 快蚁社区，善策不仅全程为其设计了外汇跟单社区商业模式、营销模式、PC端智能跟单系统、报本牛人交易系统、人工智能交易系统、直播系统和用户平台体验，还在商业策略和产品设计上为其制定了产品演进路线。最终实现外汇投资生态链的闭环，从而打造全球领先的外汇社区！</p>
			  </div>
			  <div class="col-md-4">				
			  </div>
		</div>		
  </div>  

    <div class="footer">
    	<div class="row row-footer">
		  <div class="col-xs-12 col-md-6 footer-top footer-pc ">
		  	<p class="text-left text-foothearder"><img src="img/底部logo@3x.png"></p>
			<p class="text-left text-footercon">提交您的请求，我们会在24小时内回复您</p>
		  </div>
		  <div class="col-xs-12 col-md-2 footer-top">
		  	<p class="text-left text-foothearder">善策数字化咨询</p>
			<p class="text-left text-footercon">7892-825183458</p>
		  </div>
		  <div class="col-xs-12 col-md-2 footer-top">
		  	<p class="text-left text-foothearder">服务邮箱</p>
			<p class="text-left text-footercon">gleichner@hotmail.com</p>
		  </div>
		</div>
    </div>
    <div class="error">手机号码不正确</div>
    <script src="js/tool/sea.js"></script>
    <script>
        seajs.config({
            base: "../epock/js/",
            alias: {
                "jquery": "tool/jquery.js",
                "json": "tool/json2.js",
                "drag": "tool/jquery.event.drag-1.5.min.js",
                "slider": "tool/jquery.touchSlider.js"
            },
            preload: [
                'jquery',
                this.JSON.stringify({
                    id: 1
                }) ? '' : 'json',
                "drag",
                "slider"
            ]
        });
        seajs.use('config/index');
        
    </script>
    </div>
</body>
</html>
