<div id="main" style="height:600px;"></div>

style>
  .tu_box{width:auto;background-color:#f60;color:#fff;}
  .ttu_box{width:auto;background-color:#f60;color:#fff;}
  .tu_box td{text-align:center;/*line-height:24px; height:24px;*/}
  .tu_ko{ height:40px;line-height:40px !important; }
  .tu_l{ width:40%;}
  /*.tu_z{ width:20%;}*/
  .tu_r{ width:40%;}
  .color{color: #f60;}
  a{
    text-decoration:none;
  }


   .button{
     background: #f0ad4e;padding: 2px 10px;border-radius: 3px;color: #fff;
   }
.search{ background: #8fe5f3;height: 20px; border-radius: 2px;}
</style>
<script type="text/javascript">
  $(function() {
    $('a.title').cluetip({splitTitle: '|'});
  });
</script>
<div class="ncenter_box">
  <div class="accounttitle"><h3>网络结构图 </h3></div>

  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <form method='post' action="__URL__/Tree2">
      <tr>
        <td>{$User_namex}：
          <input type="text" name="UserID" title="帐号查询"  class="search">
                 <input type="submit" name="Submit" value="查询" class="button"/>
 <!--
                      <select name='level' onChange="window.location.href='__URL__/Tree2/ID/{$FatherID}/uLev/'+this.value;">
                      <option value="{$uLev}">第 {$uLev+1} 层</option>
                      <option value="2">第 3 层</option>
                      <option value="3">第 4 层</option>
                      <option value="4">第 5 层</option>
                      <option value="5">第 6 层</option>
                      <option value="6">第 7 层</option>
                      <option value="7">第 8 层</option>
                      <option value="8">第 9 层</option>
                      <option value="9">第 10 层</option>
                      </select> -->
          　<br>　<a href="__URL__/Tree2/uLev/{$uLev}">顶层</a>　　<a href="__URL__/Tree2/ID/{$FatherID}/uLev/{$uLev}">上一层</a></td>
      </tr>
    </form>
    <tr>
      <td>{$wop}</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>

  </table>
</div>

<div style="height: 100px;"></div>