<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>推广二维码</title>
   	<link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.min.css"/>
   	<link rel="stylesheet" type="text/css" href="__STATIC__/css/own.css"/>
   	<link rel="stylesheet" type="text/css" href="__STATIC__/css/iconfont.css"/>

<body>
	<header class="mui-bar mui-bar-nav own-main-background-color" style=" height: 50px;">
      <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="line-height: 30px; color: white; text-decoration: none;"></a>
      <h1 class="mui-title" style="line-height: 50px;">推广二维码</h1>
    </header>

	 <div style="width:200px;height:200px;margin: 0rem auto;margin-top: 5%">
                <h2>推广二维码</h2>
                <img id="verifyImg" src="{$url}"  style="cursor:pointer;width:100%" align="absmiddle" />
        </div>
       
        </div>
    </div>

<script type="text/javascript" src="__STATIC__/js/mui.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/own.js"></script>
<script type="text/javascript">
 
    </body>
</html>