<include file="Public:header2"/>
		<!-- Left Sidebar End -->

		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<!-- <div class="content-page"> -->
			<!-- Start content -->
			<!-- <div class="content">
				<div class="container">
				

		<div class="row">
			<div class="col-sm-12">
				<div class="card-box"> -->
					<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="container">
					<div class="row">
			<div class="col-sm-12">
				<div class="card-box">
				
				

	
	
	
	
<form name="profile_form" id="" method="post" action="{:url('vip/replyAC')}" enctype="multipart/form-data" class="form-horizontal">



		<h4 class="header-title m-t-0 m-b-30">查看邮件内容&nbsp;&nbsp;[<a href='javascript:history.back()'>返回</a>]</h4>
		

		<div class="row">
			<div class="col-lg-12">
				

				<div class="form-group">
					<label class="col-md-2 control-label">发件人编号</label>
					<div class="col-sm-9 col-lg-10">
						<div class="col-md-10 input-group">
							<p>{$vo['f_user_id']}</p>
						</div>	
					</div>
				</div>
               <input type="hidden" name="id" value="{$vo['id']}">
				<div class="form-group">
					<label class="col-md-2 control-label">发件时间</label>
					<div class="col-sm-9 col-lg-10">
						<div class="col-md-10 input-group">
							<p>{$vo.f_time|date='Y-m-d H:i:s',###}</p>
						</div>	
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label">邮件标题：</label>
					<div class="col-sm-9 col-lg-10">
						<div class="col-md-10 input-group">
							<p>{$vo['title']}</p>
						</div>	
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label">邮件内容：</label>
					<div class="col-sm-9 col-lg-10">
						<div class="col-md-10 input-group">
							<p>{$vo['content']}</p>
						</div>	
					</div>
				</div>

				
<!-- 
				<div class="form-group">
					<label class="col-md-2 control-label">回复内容：</label>
					<div class="col-sm-9 col-lg-10">
						<div class="col-md-10 input-group">
							<span class="input-group-addon"><i class="fa fa-pencil"></i></span>
							<textarea class="form-control" name="Msg" id="Msg"></textarea>
						</div>	
					</div>
				</div> -->



		
		

		

	
			</div>
	    </div>
	<!-- 
			<ul class="pager m-b-0 wizard"><button type="submit" class="btn btn-block btn--md btn-primary waves-effect waves-light m-t-15" id="">回复</button></ul> -->

		
</form>



				
				</div>
			</div>	
		</div>

		
				</div>
			</div>
		</div>	

	</div>
	

<script type="text/javascript" src="__PUBLIC/Js/jquery.livequery.js"></script>


	

</body></html>
<include file="Public:footer"/>