<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>个人中心</title>
	   	<link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.min.css"/>
	   	<link rel="stylesheet" type="text/css" href="__STATIC__/css/own.css"/>
	   	<link rel="stylesheet" type="text/css" href="__STATIC__/css/iconfont.css"/>
	    <link rel="stylesheet" type="text/css" href="__STATIC__/css/jquery.hiSlider.min.css"/>
         <script src="__STATIC__/js/jquery.hiSlider.min.js" charset="UTF-8"></script>
	</head>
	<body>
	<style>
	b{
		color: #FF2D4B;
		font-size: 18px;
	}
	.mui-control-content {
		background-color: white;
		min-height: 215px;
	}
	.mui-control-content .mui-loading {
		margin-top: 50px;
	}
	.my-order-body{ width: 100%;}
	.my-order-body a{ width:25%; display: block; float: left;color:#999; margin-top: 15px;}
	.my-order-header a{color:#999}
	.my-order-body a span{ width: 100%; float: left; text-align: center;font-size: 14px;}
	.my-order-body a span img{ height:24px;}

		.mui-media-body-s{font-size: 13px;}
	</style>

<header class="mui-bar mui-bar-nav own-main-background-color">
        <h1 id="nav-title" class="mui-title">善策</h1>
    </header>

		<div class="mui-content">
<ul class="hiSlider hiSlider3">
    <li class="hiSlider-item"><a href=""><img src="__STATIC__/images/ban1.jpg"></a></li>
    <li class="hiSlider-item"><a href=""><img src="__STATIC__/images/ban2.jpg"></a></li>
    <li class="hiSlider-item"><a href=""><img src="__STATIC__/images/ban3.jpg"></a></li>
</ul>





			<div style='height: 10px;'></div>
				<ul class="mui-table-view mui-grid-view mui-grid-9" style='background-color: #fff;'>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a href="javascript:test12();" id="btn" >
		                    <span class="mui-icon">
								<img src="__STATIC__/images/shop.png" height=30>
							</span>
		                    <div class="mui-media-body-s">如何赚佣</div>
						</a>
					</li>
                   <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a href="{:url('vip/qcode')}" >
		                    <span class="mui-icon">
								<img src="__STATIC__/images/shop.png" height=30>
							</span>
		                    <div class="mui-media-body-s">推广二维码</div>
						</a>
					</li>
                     	<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a  href="javascript:test12();" id="btn" >
		                    <span class="mui-icon">
								<img src="__STATIC__/images/shop.png" height=30>
							</span>
		                    <div class="mui-media-body-s">广告投放</div>
						</a>
					</li>
                 	<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a  href="javascript:test12();" id="btn" >
		                    <span class="mui-icon">
								<img src="__STATIC__/images/shop.png" height=30>
							</span>
		                    <div class="mui-media-body-s">共享商城</div>
						</a>
					</li>
						<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a  href="javascript:test12();" id="btn" >
		                    <span class="mui-icon">
								<img src="__STATIC__/images/shop.png" height=30>
							</span>
		                    <div class="mui-media-body-s">共享美团</div>
						</a>
					</li>
                  <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a  href="javascript:test12();" id="btn">
		                    <span class="mui-icon">
								<img src="__STATIC__/images/shop.png" height=30>
							</span>
		                    <div class="mui-media-body-s">滴滴出行</div>
						</a>
					</li> 
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a  href="javascript:test12();" id="btn" >
		                    <span class="mui-icon">
								<img src="__STATIC__/images/shop.png" height=30>
							</span>
		                    <div class="mui-media-body-s">手机充值</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a  href="javascript:test12();" id="btn" >
		                    <span class="mui-icon">
								<img src="__STATIC__/images/shop.png" height=30>
							</span>
		                    <div class="mui-media-body-s">关于共享</div>
						</a>
					</li>
                     <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a  href="javascript:test12();" id="btn" >
		                    <span class="mui-icon">
								<img src="__STATIC__/images/shop.png" height=30>
							</span>
		                    <div class="mui-media-body-s">客服中心</div>
						</a>
					</li>
                   <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a  href="javascript:test12();" id="btn" >
		                    <span class="mui-icon">
								<img src="__STATIC__/images/shop.png" height=30>
							</span>
		                    <div class="mui-media-body-s">领取任务</div>
						</a>
					</li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a  href="javascript:test12();" id="btn" >
		                    <span class="mui-icon">
								<img src="__STATIC__/images/shop.png" height=30>
							</span>
		                    <div class="mui-media-body-s">提交任务</div>
						</a>
					</li>

                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a  href="javascript:test12();" id="btn" >
		                    <span class="mui-icon">
								<img src="__STATIC__/images/shop.png" height=30>
							</span>
		                    <div class="mui-media-body-s">任务记录</div>
						</a>
					</li>





		           <!--  <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a href="{:url('user/my_data_d')}">
		                    <span class="mui-icon">
								<img src="__STATIC__/images/address.png" height=30>
							</span>
		                    <div class="mui-media-body-s">收货地址</div>
						</a>
					</li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a href="{:url('user/my_data')}">
		                    <span class="mui-icon">
								<img src="__STATIC__/images/setting.png" height=30>
							</span>
		                    <div class="mui-media-body-s">个人资料</div>
						</a>
					</li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a href="{:url('user/article_list')}">
		                    <span class="mui-icon">
								<img src="__STATIC__/images/gouwuzhinan.png" height=30>
							</span>
		                    <div class="mui-media-body-s">帮助中心</div>
						</a>
					</li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a href="{:url('user/server')}">
		                    <span class="mui-icon">
								<img src="__STATIC__/images/shouhuofuwu.png" height=30>
							</span>
		                    <div class="mui-media-body-s">联系客服</div>
						</a>
					</li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
						<a href="javascript:test12();" id="btn">
		                    <span class="mui-icon">
								<img src="__STATIC__/images/out.png" height=30>
							</span>
		                    <div class="mui-media-body-s">退出登录</div>
						</a>
					</li> -->
		        </ul>
			<div style='height: 10px;'></div>
		</div>

<script src="/public/js/mui.js"></script>
<div style='height: 50px;'></div>

	 <!-- 底部结束 -->

	<script type="text/javascript" charset="UTF-8">


/*轮播图*/
$('.hiSlider3').hiSlider({
        isFlexible: true,
        isSupportTouch: true,
        });
        
    $('.hiSlider3').mouseenter(function(){
        $('.hiSlider-btn-prev').css('display','block')
        $('.hiSlider-btn-next').css('display','block')
    })
    $('.hiSlider3').mouseleave(function(){
        $('.hiSlider-btn-prev').css('display','none')
        $('.hiSlider-btn-next').css('display','none')
    })






   function test12(){
          
            $.ajax({
                url:"{:url('vip/index')}",
                type:"get",
                processData:false,
                contentType:false,
                dataType: "json",//预期服务器返回的类型
                success:function(data){
                        layer.open({
                        content: '正在开发中！',
                        btn: ['确认'],
                        yes: function(index, layero) {
                          //  window.location.href="{:url(admin/login/login)}";
                        },
                        btn2: function(index, layero) {
 
                        }
                        ,
                        cancel: function() {
                            //右上角关闭回调
                        }
                    });
                },
                error:function(e){
                    layer.open({
                      content: '正在开发中！'
                      ,skin: 'msg'
                      ,time: 2 //2秒后自动关闭
                    });

                }
            });  

             }


  </script>
    </body>
</html>