<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>分享推广</title>
   	<link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.min.css"/>
   	<link rel="stylesheet" type="text/css" href="__STATIC__/css/own.css"/>
   	<link rel="stylesheet" type="text/css" href="__STATIC__/css/iconfont.css"/>


<!-- 	<div class="mui-content">
		<div style="margin:0px auto;width:260px;text-align:center;margin-top:100px;">
			<img src="{$shareimg}" />
		</div>
	</div> -->
<script type="text/javascript" src="__STATIC__/js/mui.min.js"></script>
		<script src="__STATIC__/js/adaptive.js"></script>
		<script src="__STATIC__/js/jquery.js"></script>
		<title></title>
<style>
.zoomInDown {
    animation: zoomInDown 1s;
    -webkit-animation: zoomInDown 1s;
}
.share_fixed {
    position: fixed;
    right: 2rem;
    top: 50%;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.3rem;
    background: rgba(0, 0, 0, 0.5);
}
#imgBox img{
width:100%;
}
</style>
	</head>
	<body>
	<header class="mui-bar mui-bar-nav own-main-background-color">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">分享推广</h1>
	</header>
	<div class="mui-content">
		<!--<div align="center" class="img_photo">-->
		<!--<img src="draw_baner_bg02.png" style="width: 100%;height: auto;">-->
		<!--<img src="draw_log.png" width="300">-->
		<!--<img src="person_log_bxzd.png" width="300">-->
		<!-- <img src="person_rule.png" width="40px" height="40px">-->
		<!--</div>-->
		<!--<input type="button" value="一键合成" onClick="draw()" style="display:block;width: 60px; margin: 0 auto;">-->
		<div id="imgBox" align="center"><img src="{$shareimg}" alt=""></div>
	</div>

	</body>
</html>