<include file="Public:header2"/>
		<!-- Left Sidebar End -->

		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<!-- <div class="content-page"> -->
			<!-- Start content -->
			<!-- <div class="content">
				<div class="container">
				

		<div class="row">
			<div class="col-sm-12">
				<div class="card-box"> -->
					<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="container">
					<div class="row">
			<div class="col-sm-12">
				<div class="card-box">
				
				




		<h4 class="header-title m-t-0 m-b-30">查看邮件内容&nbsp;&nbsp;[<a href='javascript:history.back()'>返回</a>]</h4>
		

		<div class="row">
			<div class="col-lg-12">
				

				<div class="form-group">
					<label class="col-md-2 control-label">收件人编号</label>
					<div class="col-sm-9 col-lg-10">
						<div class="col-md-10 input-group">
							<p>{$vo['s_user_id']}</p>
						</div>	
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label">收件时间</label>
					<div class="col-sm-9 col-lg-10">
						<div class="col-md-10 input-group">
							<p>{$vo.f_time|date='Y-m-d H:i:s',###}</p>
						</div>	
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label">邮件标题：</label>
					<div class="col-sm-9 col-lg-10">
						<div class="col-md-10 input-group">
							<p>{$vo['title']}</p>
						</div>	
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-2 control-label">邮件内容：</label>
					<div class="col-sm-9 col-lg-10">
						<div class="col-md-10 input-group">
							<p>{$vo['content']}</p>
						</div>	
					</div>
				</div>

				
	
			</div>
	    </div>


				
				</div>
			</div>	
		</div>

		
				</div>
			</div>
		</div>	
 

	</div>
	

<script type="text/javascript" src="__PUBLIC/Js/jquery.livequery.js"></script>


	

</body></html>
<include file="Public:footer"/>