<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>内部转账</title>
   	<link rel="stylesheet" type="text/css" href="__STATIC__/css/mui.min.css"/>
   	<link rel="stylesheet" type="text/css" href="__STATIC__/css/own.css"/>
   	<link rel="stylesheet" type="text/css" href="__STATIC__/css/iconfont.css"/>

<body>
	<header class="mui-bar mui-bar-nav own-main-background-color">
		 <a class="mui-icon mui-pull-left" href="{:url('vip')}"><</a>
		<a href="/index/dealer/zhuanlist.html" class="mui-pull-right" style="color: #fff;font-size: 14px; height: 45px; line-height: 45px;">明细</a>
		<h1 class="mui-title">内部转账</h1>
	</header>
	<div class="mui-content">
        <form  method="post"  class="mui-input-group">
			<div class="mui-input-row">
				<label>选择类型</label>
				<select class="mui-btn-block mui-input-clear fm" name="type" id="type">
					<option value=""> 选择类型</option>
					<option value="0"> 提现金额 </option>
					<option value="3"> 消费钱包 </option>
					<option value="4"> 易股券 </option>
				</select>
			</div>
			<div class="mui-input-row">
				<label>对方用户</label>
				<input type="text" class="mui-input-clear fm" value="" id=to_user_id" name="to_user_id" />
			</div>
			<div class="mui-input-row">
				<label>数量</label>
				<input type="text" class="mui-input-clear fm" value="" id="number" name="number" />
			</div>
			<!-- <div class="mui-input-row">
				<label>安全密码</label>
				<input type="password" class="mui-input-password" id="pwd" placeholder="请输入安全密码" name="pwd" />
			</div> -->
			<div class="mui-button-row" style="margin: 10px 15px;">
				<button type="submit" id="btn" class="mui-btn mui-btn-link own-btn-green mui-btn-block ajax-post" style="padding: 5px 0px;"  target-form="mui-input-group">确定</button>
			</div>
		</form>
			<!-- <div class="mui-row" style="margin: 10px 15px;">
				<span style="font-size:14px;color:red">备注：1.内部转账只能转给自己或自己的团队<br>
				　　　2.转账收10%手续费，20%转换为消费积分</span>
			</div> -->
	</div>
</body>
</html>